<div class="container" ng-controller="PlayerController">
  <div class="alert alert-info" role="alert" style="width:100%;">In order to keep the player as synced as possible
  across clients, I've disabled pausing of the player. To mute the player quickly, press the DOWN arrow.
  In contrary, the UP arrow key will un-mute the player's audio.</div>
  <div id="player">
    <div id="player"></div>
  </div>
  <input type="text" name="song" ng-model="song">
  <button style="border:1px solid white; background-color:black;" ng-click="create(song)">Request</button>
  <div id="playlist">
    <ol id="queued" ng-show="pList">
      <li ng-repeat="video in queueList">
      </li>
    </ol>
  </div>
</div>
