<div class="container" ng-controller="PlayerController" ng-init="init()">
  <div class="alert alert-danger" role="alert">
  Don't see a player? Blame Angular's routing. Or me. Either way, a refresh
  probably won't do the trick. Be sure that you're signed in to your account.
  If it's still not binding, close the tab and re-visit the site.</div>
  <div class="panel panel-default">
    <div class="panel-heading"> {{title}} <p class="pull-right">
      {{ map(requester) }} </p></div>
    <div class="panel-body">
      <div id="player">
        <div id="player"></div>
      </div>
    </div>
  </div>

  <!-- Player Controls -->
    <ng-switch on="isMuted">
      <input style="width:18%;"  type="text" name="song" id="go" ng-model="song">
      <button style="width:20%;"  id="go" ng-model="req" ng-click="calculateDur(song)">Request</button>

      <button style="width:20%;" ng-click="volUp()" id="go">
        <i class="glyphicon glyphicon-plus"></i></button>

      <button style="width:20%;" ng-click="volDown()" id="go">
        <i class="glyphicon glyphicon-minus"></i></button>

        <button ng-switch-when=true style="width:20%;" ng-click="unmute()" id="go">
          <i class="glyphicon glyphicon-volume-up"></i></button>

        <button ng-switch-when=false style="width:20%;" ng-click="mute()" id="go">
          <i class="glyphicon glyphicon-volume-off"></i></button>
        </ng-switch>

      <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped active"
          role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100"
          ng-style="{width : ( prog + '%' ) }"></div>
      </div>

  <!-- Archived List -->
  <div class="panel panel-default">
    <div class="panel-heading">Queue({{queueList.length - 1}})
      <i ng-click="newHistory()" class="glyphicon glyphicon-refresh"></i></div>
    <table class=table>
       <thead>
           <tr>
               <th>ID</th>
               <th>When</th>
               <th>Who</th>
           </tr>
       </thead>
       <tbody>
         <tr ng-repeat="queue in queueList">
           <td ng-if="$index > 0"><a href="http://youtube.com/watch?v={{queue.song}}">
             {{queue.title}}</a></td>
           <td ng-if="$index > 0">{{queue.created | date}}</td>
           <td ng-if="$index > 0">{{map(queue.requester)}}</td>
         </tr>
       </tbody>
     </table>
  </div>
</div>
