/* Old color scheme ~ #9900CC 0, #990000(dark) */
body {
  color:white !important;
  background-color:#222 !important;
}
#nav, .panel-body, .panel-default, #go {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.25);
  margin-bottom:10px;
  border:none !important;
}
.container {
  width:60% !important;
}
.container input, button {
  margin-bottom:5px;
}
input{
    color: black !important;
}
button {
  border: solid 1px white !important;
  background-image: linear-gradient(to bottom, #9900CC 0, #730099 100%) !important;
}
button:hover {z
  background-image: linear-gradient(to bottom, #730099 0, #9900CC 100%) !important;
}
.panel-heading {
  background-image: linear-gradient(tp bpttp,. #f5f5f5, #linear-gradient(to bottom,#B91D1D 0, #00ff00 100%) !important;
}
