/* Old color scheme ~ #1d1d1d 0, #990000(dark) */
body {
  color:#ccc !important;
  background-color:#1d1d1d !important;
}
.left-panel {
  margin-left:-2%;
  height:50%;
  /*border:1px solid #2e2e2e;*/
}
#dark-input {
  border:none;
  background-color:#2e2e2e;
  color:#CCC;
  margin-bottom:3px;
}
li {
  list-style: none;
  display:inline-block !important;
}
button {
  background-color:#2e2e2e;
  border:none;
}
