<!DOCTYPE html>
<html ng-app="Intern">
<head>
  <title>Marlo</title>
  <base href="/"/>
  {% include 'styles.html' %}
</head>
<body>
  <div id="nav" class="nav navbar-inverse">
    <a class="navbar-brand" href="/board">Marlo</a>
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/board/members/"></a></li>
          <li><a href="/board/members/Carter"></a></li>
          <li><a href="/logout">Logout</a></li>
    </ul>
</div>
  <ng-view>
  {% include 'scripts.html' %}
</body>
</html>
