<!DOCTYPE html>
<html ng-app="Intern">
<head>
  <title>Marlo</title>
  <base href="/"/>
  {% include 'styles.html' %}
</head>
<body ng-controller="AuthController as auth">
  {%verbatim%}
  <div id="nav" class="nav navbar-inverse">
    <a class="navbar-brand" href="/">Marlo</a>
      <ul class="nav navbar-nav navbar-left" ng-switch="isAuthenticated()">
        <li ng-switch-when=true><a href="">{{userModel.username}}</a></li>
        <li ng-switch-when=true ng-click="logout()"><a href="/">Logout</a></li>
        <li ng-switch-when=false><a href="/login">Login</a></li>
    </ul>
</div>
  <ng-view>
    {%endverbatim%}
  {% include 'scripts.html' %}
</body>
</html>
